<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='styles/signin.css') }}">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='styles/palette.css') }}">
    
    <title>Stellae Bellum</title>
  </head>
  <body>
    <div class="container">
      <div class="row mx-auto">
        <h1 class="display-5 text-center mx-auto" id="page-title">Build your fleet</h1>    
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">D</th>
                <th scope="col">E</th>
                <th scope="col">F</th>
                <th scope="col">G</th>
                <th scope="col">H</th>
                <th scope="col">I</th>
                <th scope="col">J</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="row"></div>
        <form class="form-signin">
          <div class="checkbox mb-3">
          </div>
          <button class="btn btn-lg btn-primary btn-block default-primary-color" type="submit">Done</button>
        </form>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
