<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='styles/signin.css') }}">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='styles/palette.css') }}">
    
    <title>SB Create Room</title>
  </head>
  <body style="background-color: #BDBDBD;">
    <div class="container">
      <div class="row mx-auto">
        <h1 class="display-3 text-center mx-auto" id="page-title">Open Room</h1>
      </div>
      <div class="row"></div>
        <form>
          <div class="form-group">
            <label for="username">Your Name</label>
            <input type="text" class="form-control" placeholder="Luke Bellum" readonly>
            <label for="newRoomName">Room Name</label>
            <input type="text" class="form-control" placeholder="Stellae Bellum" readonly>
            <label for="newRoomPassword">Room Password</label>
            <input type="password" class="form-control" placeholder="p@$$w0rd" readonly>
            <label for="newRoomPassword">Players in Room</label>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Yan</li>
                <li class="list-group-item">Marissa</li>
                <li class="list-group-item">Alec</li>
                <li class="list-group-item">Alex</li>
                <li class="list-group-item">Mayo</li>
            </ul>
          </div>
          <button class="btn btn-lg btn-primary btn-block default-primary-color" type="submit">Share Room</button>
          <button class="btn btn-lg btn-primary btn-block default-primary-color" type="submit">Delete Room</button>
        </form>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>